<body>
   <h1 align="right" id="header">Actualizacion de Carpeta de Cliente</h1>
   <div class="group">
      <h2>
         <% form_tag busca_atualizacao_carpeta_cliente_clientes_path, :method => "get" do %>
            <table>
               <!--FILTRO_CLIENTE!-->
               <tr>
                  <td align="right"> Cliente :</td>
                  <td>
                     <input id="busca" name="busca" type="text" onkeyup = "f(this)"onkeydown = "f(this)" onkeypress ="return bloqEnter(event)" size="35"  />                    
                  </td>
                  <td>

                     <input type="button"  class="button" onclick="pesquisa(document.getElementById('busca').value)" value="Buscar"/>
                     <%= image_tag("/images/load.gif",
                                   :align => "absmiddle",
                                   :border => 0,
                                   :id => "spinner",
                                   :width => 21,
                                   :height => 21,
                                   :style =>"display: none;" ) %>
                     
                  </td>
               </tr>
            </table>
            <input type="hidden" id="seta" value="0"/>
         <% end %>
      </h2>
   </div>

   <div id="pagina">
   </div>
</body>
<script language="javascript">
   function pesquisa(valor)

   {
      busca  = document.getElementById('busca').value
      //FUNÇÃO QUE MONTA A URL E CHAMA A FUNÇÃO AJAX

         url="/clientes/busca_atualizacao_carpeta_cliente?busca="+busca+"&commit=buscar";

      ajax(url);

   }


   function ajax(url)

   {


          Element.show('spinner')

      //alert(nick);

      //alert(dest);

      //alert(msg);



      req = null;

      // Procura por um objeto nativo (Mozilla/Safari)

      if (window.XMLHttpRequest) {

         req = new XMLHttpRequest();

         req.onreadystatechange = processReqChange;

         req.open("GET",url,true);

         req.send(null);

         // Procura por uma versão ActiveX (IE)

      } else if (window.ActiveXObject) {

         req = new ActiveXObject("Microsoft.XMLHTTP");

         if (req) {



            req.onreadystatechange = processReqChange;

            req.open("GET",url,true);



            req.send();

         }

      }

   }



   function processReqChange()

   {



      // apenas quando o estado for "completado"

      if (req.readyState == 4) {



         // apenas se o servidor retornar "OK"



         if (req.status ==200) {



            // procura pela div id="pagina" e insere o conteudo

            // retornado nela, como texto HTML


            onSuccess:Element.hide('spinner')

            document.getElementById('pagina').innerHTML = req.responseText;



         } else {

            alert("Houve um problema ao obter os dados:n" + req.statusText);

         }

      }

   }
</script>

