<body onload="ImputFocus('filtro')">
<h1 align="right" id="header">Transferencia entre Cuentas</h1>
<div class="acessos">
  <%= link_to 'Nuevo', new_transferencia_conta_path, :class => 'button add' %>    
</div>
<div class="group">
     <h2>
    <%= form_tag busca_transferencia_contas_path, :method => "get" do%>
       <table>
          <tr>
                  <!--FILTRO_DATA!-->
                  <td><input   id         = "filtro"
                               name       = "filtro"
                               type       = "radio"
                               value      = "0"
                               checked
                               onfocus="SetaFiltro('0')"/>

                  </td>

                  <td align="right"> Fecha:</td>
                  <td><input name       = "inicio"
                             id         = "inicio"
                             size       = "10"
                             type       = "text"
                             onkeyup    = "Formatadata(this,event),EnterTab(event,'final')" />
                     Hasta

                     <input name       = "final"
                            id         = "final"
                            type       = "text"
                            size       = "10"
                            onkeyup    = "Formatadata(this,event)"/></td>
               </tr>
               <!--FILTRO_CLIENTE!-->
               <tr>
                  <td><input   id         = "filtro"
                               name       = "filtro"
                               type       = "radio"
                               value      = "1"
                               onfocus     = "SetaFiltro('1')" />

                  </td>

            <td>
              <select name="tipo" id="tipo">
                     <option>CODIGO</option>
                     <option>CONTA ORIGEM</option>
                     <option>CONTA DESTINO</option>
              </select>
            </td>

            <td colspan="4">
              <input id="busca" name="busca" type="text" onkeyup = "pesquisa(this.value),f(this)"onkeydown = "f(this)" onkeypress ="return bloqEnter(event)" size="30"  />
            </td>
            <td colspan="4" align="right">
                <input type="button" class="button" onclick="pesquisa(document.getElementById('busca').value)" value="Buscar"/>
                     <%= image_tag("load.gif",
                                   :align => "absmiddle",
                                   :border => 0,
                                   :id => "spinner",
                                   :width => 21,
                                   :height => 21,
                                   :style =>"display: none;" ) %>
                
            </td>

          </tr>
       </table>
    <input type="hidden" id="seta" value="0"/>
    <% end %>
  </h2>
</div>

    <div id="pagina">
    </div>
</div>

    <script language="javascript">

      function SetaFiltro(d)                 //
         {
         document.getElementById('seta').value = d
         if(document.getElementById('seta').value == '0')
           {
             document.getElementById('busca').value = ''
           }
         else
           {
             document.getElementById('inicio').value = ''
             document.getElementById('final').value = ''
           }

         }

      function pesquisa(valor)

      {
        filtro = document.getElementById('filtro').value
        inicio = document.getElementById('inicio').value
        finala = document.getElementById('final').value
        tipo   = document.getElementById('tipo').value
        busca  = document.getElementById('busca').value
        seta   = document.getElementById('seta').value
        //FUNÇÃO QUE MONTA A URL E CHAMA A FUNÇÃO AJAX

        if( seta == '0')
          {
           url="/transferencia_contas/busca?filtro="+filtro+"&inicio="+inicio+"&final="+finala+"&tipo="+tipo+"&busca="+valor+"&commit=buscar";
          }
         else
          {
           url="/transferencia_contas/busca?inicio="+inicio+"&final="+finala+"&filtro="+filtro+"&tipo="+tipo+"&busca="+valor+"&commit=buscar";
          }


        ajax(url);

      }


      function ajax(url)

      {

          $('#spinner').show();



        //alert(nick);

        //alert(dest);

        //alert(msg);



        req = null;

        // Procura por um objeto nativo (Mozilla/Safari)

        if (window.XMLHttpRequest) {

          req = new XMLHttpRequest();

          req.onreadystatechange = processReqChange;

          req.open("GET",url,true);

          req.send(null);

          // Procura por uma versão ActiveX (IE)

        } else if (window.ActiveXObject) {

          req = new ActiveXObject("Microsoft.XMLHTTP");

          if (req) {



            req.onreadystatechange = processReqChange;

            req.open("GET",url,true);



            req.send();

          }

        }

      }



      function processReqChange()

      {



        // apenas quando o estado for "completado"

        if (req.readyState == 4) {



          // apenas se o servidor retornar "OK"



          if (req.status ==200) {



            // procura pela div id="pagina" e insere o conteudo

            // retornado nela, como texto HTML


           onSuccess:$('#spinner').hide();

            document.getElementById('pagina').innerHTML = req.responseText;



          } else {

            alert("Houve um problema ao obter os dados:n" + req.statusText);

          }

        }

      }

 </script>


