<div class="group">
    <h2>
    <%form_tag filtro_busca_faturas_nota_credito_proveedors_path, :method => "get" do%>    
      <input id="id" name="id" type="hidden" value="<%= @nota_credito_proveedor.id %>"/>
      <input id="busca" name="busca" type="hidden" value="<%= @nota_credito_proveedor.persona_id %>"/>
        Buscar :<select name="tipo" id="tipo">
                    <option>NUMERO</option>
                </select>
        <input id="filtro" name="filtro" type="text" onKeyUp="f(this)" onkeydown = "f(this)"/>
        <input type="button" onclick="pesquisa(document.getElementById('filtro').value)" value="Buscar..."/>
                <%= image_tag("/images/load.gif",
                               :align  => "absmiddle",
                               :border => 0,
                               :id     => "spinner",
                               :width  => 21,
                               :height => 21,
                               :style  =>"display: none;" ) %>


      <% end %>

    </h2>
    <table>
      <tr height="150" valign="top">
        <td width="1200">
          <div id="pagina" ></div>
        </td>
      </tr>
    </table>
    <script language="javascript">

      function pesquisa(valor)                //

      {
       id         = document.getElementById('id').value
       busca      = document.getElementById('busca').value
       tipo     = document.getElementById('tipo').value
        //FUNÇÃO QUE MONTA A URL E CHAMA A FUNÇÃO AJAX

        url="/nota_credito_proveedors/filtro_busca_faturas?tipo="+tipo+"&busca="+busca+"&filtro="+valor+"";

        ajax(url);

      }


      function ajax(url)                      //

      {


           Element.show('spinner')
        //alert(nick);

        //alert(dest);

        //alert(msg);



        req = null;

        // Procura por um objeto nativo (Mozilla/Safari)

        if (window.XMLHttpRequest) {

          req = new XMLHttpRequest();

          req.onreadystatechange = processReqChange;

          req.open("GET",url,true);

          req.send(null);

          // Procura por uma versão ActiveX (IE)

        } else if (window.ActiveXObject) {

          req = new ActiveXObject("Microsoft.XMLHTTP");

          if (req) {



            req.onreadystatechange = processReqChange;

            req.open("GET",url,true);



            req.send();

          }

        }

      }

      function processReqChange()             //

      {



        // apenas quando o estado for "completado"

        if (req.readyState == 4) {



          // apenas se o servidor retornar "OK"



          if (req.status ==200) {



            // procura pela div id="pagina" e insere o conteudo

            // retornado nela, como texto HTML


            onSuccess:Element.hide('spinner')

            document.getElementById('pagina').innerHTML = req.responseText;



          } else {

            alert("Houve um problema ao obter os dados:n" + req.statusText);

          }

        }

      }

      function Fecha(id,documento_numero_01,documento_numero_02,documento_numero)
  {
    document.getElementById('nc_proveedor_fatura_compra_id').value               = id;
    document.getElementById('nc_proveedor_fatura_documento_numero_01').value     = documento_numero_01;
    document.getElementById('nc_proveedor_fatura_documento_numero_02').value     = documento_numero_02;
    document.getElementById('nc_proveedor_fatura_documento_numero').value        = documento_numero;
  }

    </script>
</div>