<h1>Listing cheque_diferidos</h1>

<table>
  <tr>
  </tr>

<% @cheque_diferidos.each do |cheque_diferido| %>
  <tr>
    <td><%= link_to 'Show', cheque_diferido %></td>
    <td><%= link_to 'Edit', edit_cheque_diferido_path(cheque_diferido) %></td>
    <td><%= link_to 'Destroy', cheque_diferido, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cheque_diferido', new_cheque_diferido_path %>