<h1 align="right" id="header">Transferencia Deposito</h1>

<% form_for(@transferencia_deposito_detalhe) do |f| %>
  <%= f.error_messages %>

<%= link_to 'Volver', "transferencia_depositos/#{@transferencia_deposito_detalhe.transferencia_deposito.id}" %>
<% end %>