<% #VERIFICA SE  TEM CLASE E IMPRIME
        if params[:busca]["clase"].blank?
            clase = 'Todos..'
        else
            clase   = params[:busca]["clase"]
            cl_c = Clase.find_by_id(params[:busca]["clase"])
            cl_desc = ' - ' << cl_c.descricao

        end
        #VERIFICA SE  TEM GRUPO E IMPRIME
        if params[:busca]["grupo"].blank?
            grupo = 'Todos..'
        else
            grupo = params[:busca]["grupo"]
            gp_c  = Grupo.find_by_id(params[:busca]["grupo"])
            gp_desc = ' - ' << gp_c.descricao
        end

        #VERIFICA SE  TEM SUB_GRUPO E IMPRIME
        if params[:busca]["sub_grupo"].blank?
            sgrupo = 'Todos..'
        else
            sgrupo = params[:busca]["sub_grupo"]
            sgp_c  = SubGrupo.find_by_id(params[:busca]["sub_grupo"])
            sgp_desc = ' - ' << sgp_c.descricao
        end


        #VERIFICA SE  TEM PRODUTO E IMPRIME
        if params[:busca]["produto"].blank?
            produto = 'Todos..'
        else
            produto = params[:busca]["produto"]
            pd_c    = Produto.find_by_id(params[:busca]["produto"])
            pd_desc = ' - ' << pd_c.descricao

        end

        #VERIFICA SE  TEM DEPOSITO E IMPRIME
        if params[:busca]["deposito"].blank?
            deposito = 'Todos..'
        else
            deposito = params[:busca]["deposito"]
        end
        %>

<table width="755">
	<tr>
		<td align="center"><%= $empresa_nome %></td>
	</tr>
	<tr>
		<td align="center">PROYECCION DE COMPRAS</td>
	</tr>

	<tr>
		<td align="left">Fecha....: <%= params[:inicio] %> hasta <%=params[:final] %></td>
	</tr>

	<tr>
		<td align="left">Sector...: <%= clase.to_s.rjust(6,'0') %> <%= cl_desc %></td>
	</tr>
	<tr>
		<td align="left">Grupo....: <%= grupo.to_s.rjust(6,'0') %> <%= gp_desc %></td>
	</tr>
	<tr>
		<td align="left">Sub-Grupo: <%= sgrupo.to_s.rjust(6,'0') %> <%= sgp_desc %></td>
	</tr>
	<tr>
		<td align="left">Produto..: <%= produto.to_s.rjust(6,'0') %><%= pd_desc %></td>
	</tr>
	<tr>
		<td align="left">Deposito.: <%= deposito.to_s.rjust(6,'0') %></td>
	</tr>
	<tr>
		
		<td>
			<hr>
			<table>
				<tr>
					<td width="95" align="center" >Cod.</td>
				    <td width="294" align="left" >Producto</td>
				    <td width="70" align="right">Anterior</td>  
				    <td width="70" align="right">Compra</td>  
				    <td width="70" align="right">Dev. Compra</td>  
				    <td width="70" align="right">Venta</td>  
				    <td width="70" align="right">Dev. Venta</td>  
				    <td width="70" align="right">Saldo Perio.</td>  
				    <td width="70" align="right">Saldo Act.</td>  
				</tr>	
			</table>
			<hr>
		</td>
	</tr>


</table>