<h1>Listing transferencia_contas_detalhes</h1>

<table>
  <tr>
  </tr>

<% @transferencia_contas_detalhes.each do |transferencia_contas_detalhe| %>
  <tr>
    <td><%= link_to 'Show', transferencia_contas_detalhe %></td>
    <td><%= link_to 'Edit', edit_transferencia_contas_detalhe_path(transferencia_contas_detalhe) %></td>
    <td><%= link_to 'Destroy', transferencia_contas_detalhe, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New transferencia_contas_detalhe', new_transferencia_contas_detalhe_path %>