<h1>New transferencia_contas_detalhe</h1>

<% form_for(@transferencia_contas_detalhe) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', transferencia_contas_detalhes_path %>