<h1 align="right" id="header">.</h1>
Hoja de Pago
<div class="group">
  <h2>
    <%form_tag resultado_folha_de_pagamento_relatorios_path, :method => "get" do%>
      <table>

        <tr valign="top">
          <td align="right"> Fecha:</td>
          <td>
            <fieldset>
              <table>
                <tr>
                  <td>
                    Mes<input name="mes" id="mes"  size="5"/>
                    Año<input name="ano" id="ano"  size="5"/>
                  </td>
                </tr>
                
                
              </table>
            </fieldset>
          </td>
        </tr>
        <tr>
          <td align="right">Empleado :</td>
          <td><%=   select("busca", "empregado", Persona.all(:select => 'id,nome',:conditions =>["tipo_funcionario = 1"],:order => 'nome').collect {|p| [ p.nome, p.id ] }, { :include_blank => true })  %></td>
        </tr>

        <tr>
          <td></td>
          <td>
            <input type="submit" value="           Informe           " onclick="Tipo('0')"/>
            <input type="submit" value="          Excel          " onclick="Tipo('1')"/>
          </td>

        </tr>

        <input type="hidden" name="tipo" id="tipo"  size="5" value="0"/>
      </table>
    <% end %>
  </h2>
</div>


<script>
  function Tipo(d)                 //

  {
    document.getElementById('tipo').value = d
  }
</script>