<body onload="DataInicio(),DataFinal(),CampoInicio()">
   <h1 align="right" id="header">.</h1>
   Relatorio De Remicion
   <div class="group">
      <h2>
         <%= form_tag resultado_remicao_relatorios_path, :method => "get" do%>
            <table>
               <tr>
                  <td>

                     <fieldset>
                        <legend>Fecha :</legend>
                        <table>
                           <tr>
                              <td>
                                 <input name="inicio" id="inicio"  size="10"  onkeyup="Formatadata(this,event)" />
                                 Hasta
                                 <input name="final"  id="final"   size="10" onkeyup="Formatadata(this,event)"/>
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <%=   select("busca", "unidade", Unidade.all(:select => 'id,unidade_nome').collect {|p| [ p.unidade_nome, p.id ] },
                                                                                                                  { :include_blank => true },
                                                                                                                  { :onkeypress    => "return bloqEnter(event)",
                                                                                                                     :onkeyup       => "EnterTab(event,'campo_grupo')" })   %></td>

                              </td>
                           </tr>
                        </table>
                     </fieldset>
                  </td>
               </tr>

            </table>

            <table>
               <tr>
                  <td>
                     <input type="submit" value="           Informe           " onclick="Tipo('0')"/>
                     <input type="submit" value="             Excel           " onclick="Tipo('1')"/>
                  </td>
               </tr>

               <input type="hidden" name="tipo" id="tipo"  size="5" value="0"/>

            </table>
         <% end %>
      </h2>
   </div>
</body>


