<h1 align="right" id="header">.</h1>
Libro Mayor
<div class="group">
  <h2>
    <%= form_tag resultado_livro_mayor_contabilidades_path, :method => "get" do%>
      <table>

        <tr valign="top" height="35">
          <td align="right"> Fecha:</td>
          <td>
            <fieldset>
              <table>
                <tr>
                  <td><input name       = "inicio"
                             id         = "inicio"
                             size       = "10"
                             type       = "text"
                             onkeypress = "return bloqEnter(event)"
                             onkeyup    = "Formatadata(this,event),EnterTab(event,'final')" />
                      Hasta
                      <input name       = "final"
                             id         = "final"
                             size       = "10"
                             type       = "text"
                             onkeypress = "return bloqEnter(event)"
                             onkeyup    = "Formatadata(this,event),EnterTab(event,'codigo')" /></td>
                </tr>
              </table>
            </fieldset>
          </td>
        </tr>

        <tr>
           <td></td>
           <td>
             <%= check_box_tag :lancamento,'1', :onkeyup    => "Formatadata(this,event),EnterTab(event,'moeda')",
                                            :onkeypress => "return bloqEnter(event)" %> Todos lo lanzamientos
        </td>

        <tr>
          <td align="right">Moneda :</td>
          <td>
            <fieldset>
              <input id         = "moeda"
                     name       = "moeda"
                     type       = "radio"
                     value      = "0"
                     checked
                     onkeypress = "return bloqEnter(event)"
                     onkeyup    = "Formatadata(this,event),EnterTab(event,'button')" />Dolar

              <input id    ="moeda"
                     name  ="moeda"
                     type  ="radio"
                     value ="1"
                     onkeypress = "return bloqEnter(event)"
                     onkeyup    = "Formatadata(this,event),EnterTab(event,'button')" />Guaranies

            </fieldset>
          </td>
        </tr>

        <tr height="35">
          <td align="right">Cod.Contabil :</td>
          <td colspan="4"> <input type="text" id="codigo_inicio" name="codigo_inicio" />
           Hasta <input type="text" id="codigo_final" name="codigo_final" />
          </td>
         

        </tr>

        <tr height="35">
          <td align="right">Contabilidade :</td>
          <td>
              <%=   select("busca", "descricao_inicio", PlanoDeConta.all(:select => 'id,codigo,descricao',:order => 'descricao').collect {|p| [ p.descricao, p.codigo ] },
                                                                                                                                  { :include_blank => true },
                                                                                                                                  { :onblur => "MayorBuscaCodContabilInicio()"})   %>
          </td>

          <td>Hasta
              <%=   select("busca", "descricao_final", PlanoDeConta.all(:select => 'id,codigo,descricao',:order => 'descricao').collect {|p| [ p.descricao, p.codigo ] },
                                                                                                                                  { :include_blank => true },
                                                                                                                                  { :onblur => "MayorBuscaCodContabilFinal()"})   %>
          </td>

        </tr>

        <tr height="35">
          <td></td>
          <td>
            <input type="submit" value="        Informe        " onclick="Tipo('0')"/>
            <input type="submit" value="          Excel          " onclick="Tipo('1')"/>
          </td>

        </tr>

        <input type="hidden" name="tipo" id="tipo"  size="5" value="0"/>
      </table>
    <% end %>
  </h2>
</div>


