<h1 align="right" id="header">.</h1>
Resumen de Vendas
<div class="group">
  <h2>
    <%= form_tag resultado_resumo_vendas_contabilidades_path, :method => "get" do%>
      <table>

        <tr valign="top">
          <td> Fecha:</td>
          <td>
            <fieldset>
              <table>
                <tr>
                  <td>
                      <input name="inicio" id="inicio"  size="10"  onkeyup="Formatadata(this,event)" />
                      Hasta
                      <input name="final"  id="final"   size="10" onkeyup="Formatadata(this,event)"/>
                  </td>
                </tr>
              </table>
            </fieldset>
          </td>
        </tr>
        
       <tr>
          <td></td>
          <td>
            <input type="submit" value="           Informe           " onclick="Tipo('0')"/>
            <input type="submit" value="          Excel          " onclick="Tipo('1')"/>
          </td>

        </tr>

        <input type="hidden" name="tipo" id="tipo"  size="5" value="0"/>
      </table>
    <% end %>
  </h2>
</div>


