<body onload="DataInicio(),DataFinal(),CampoInicio()">
   <h1 align="right" id="header">.</h1>
   Relatorio Comisiones
   <div class="group">
      <h2>
         <%= form_tag resultado_comissoes_relatorios_path, :method => "get" do%>
            <table>

               <tr height="35">
                  <td align="right"> Fecha:</td>
                  <td>
                     <input name="inicio" id="inicio"  size="10"  onkeyup="Formatadata(this,event)" />
                     Hasta
                     <input name="final"  id="final"   size="10" onkeyup="Formatadata(this,event)"/>
                  </td>
               </tr>

               <tr>
                  <td align="right">Empleado :</td>
                  <td>
                     <%=   select("busca", "empregado", Persona.all(:select => 'id,nome',:conditions => ["tipo_funcionario = 1"],:order => 'nome').collect {|p| [ p.nome, p.id ] }, { :include_blank => true })   %>
                  </td>
               </tr>

               <tr>
                  <td align="right">Tipo Gasto :</td>
                  <td>
                    <fieldset>
                       <%= radio_button_tag :status, 0,  :Checked => "True"%> Resumen
                       <%= radio_button_tag :status, 1%> Detalhado
                    </fieldset>
                  </td>
               </tr>


              <tr height="35">
                  <td></td>
                  <td>
                     <input  id      ="button"
                             type    ="submit"
                             value   ="            Informe           "
                             onclick = "Tipo('0')"/>

                     <input type     = "submit"
                            value    = "            Excel            "
                            onclick  = "Tipo('1')"/>
                  </td>
               </tr>

               <input type  = "hidden"
                      name  = "tipo"
                      id    = "tipo"
                      size  = "5"
                      value = "0"/>

            </table>
         <% end %>
      </h2>
   </div>
</body>


