<h1 align="right" id="header">.</h1>
Resumen Fluxo Caixa
<div class="group">
  <h2>
    <%= form_tag resultado_fluxo_caixa_relatorios_path, :method => "get" do%>
      <table>

        <tr valign="top">
          <td> Fecha:</td>
          <td>
            <fieldset>
              <table>
                <tr>
                  <td>
                    Mes :<input name="mes_inicio" id="mes_inicio"  size="5" type="text"/>
                    Hasta<input name="mes_final" id="mes_final"  size="5" type="text"/>
                  </td>
                </tr>

                <tr>
                  <td>
                    Año :<input name="ano" id="mes_final"  size="5" type="text"/>
                  </td>
                </tr>
              </table>
            </fieldset>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="        Informe        " onclick="Tipo('0')"/>
            <input type="submit" value="          Excel          " onclick="Tipo('1')"/>
          </td>

        </tr>

        <input type="hidden" name="tipo" id="tipo"  size="5" value="0"/>
      </table>
    <% end %>
  </h2>
</div>


