<body onload="DataInicio(),DataFinal(),CampoInicio()">
  <h1 align="right" id="header">.</h1>
  Relatorio Cierre de Turno
  <div class="group">
    <h2>
      <%= form_tag resultado_historico_precos_relatorios_path, :method => "get" do%>
        <table>
          <tr>
            <td>

              <fieldset>
                <legend>Fecha :</legend>
                <table>
                  <tr>                    
                    <td>
                      <input name="inicio" id="inicio"  size="10"  onkeyup="Formatadata(this,event)" />
                      Hasta
                      <input name="final"  id="final"   size="10" onkeyup="Formatadata(this,event)"/>
                    </td>
                  </tr>
                </table>
              </fieldset>
            </td>
          </tr>
          <tr>
            <td>
              <fieldset>
                <legend>Filtros</legend>
                   <input id    ="filtro"
                          name  ="filtro"
                          type  ="radio"
                          value ="0"
                          checked
                          onkeypress = "return bloqEnter(event)"
                          onkeyup    = "Formatadata(this,event),EnterTab(event,'button')" />Minorista

                   <input id         = "filtro"
                          name       = "filtro"
                          type       = "radio"
                          value      = "1"
                          onkeypress = "return bloqEnter(event)"
                          onkeyup    = "Formatadata(this,event),EnterTab(event,'button')" />Maiorista
              </fieldset>
            </td>
          </tr>
        </table>

        <table>
          <tr>            
            <td>
              <input type="submit" value="           Informe           " onclick="Tipo('0')"/>
              <input type="submit" value="             Excel           " onclick="Tipo('1')"/>
            </td>
          </tr>

          <input type="hidden" name="tipo" id="tipo"  size="5" value="0"/>

        </table>
      <% end %>
    </h2>
  </div>
</body>


