<body onload="CobroFiltro()">
<div>
    <h2>
      <%form_tag :action => 'filtro_busca_cliente',:id => @cobro.id, :method => "get" do%>
      <input id="id" name="id" type="hidden" value="<%= @cobro.id %>"/>
      <input id="busca" name="busca" type="hidden" value="<%= @cobro.persona_id %>"/>
      <input type="hidden" id="moeda" name="moeda" value="<%= @cobro.moeda %>"/>
        Buscar :<select name="tipo" id="tipo">
                    <option>NUMERO</option>
                </select>
        <input id="filtro" name="filtro" type="text" onKeyUp="f(this)" onkeydown = "f(this)"/>
        <input type="button" onclick="pesquisa(document.getElementById('filtro').value)" value="Buscar..." class="button"/>
        <%= image_tag("/images/load.gif",
                                   :align => "absmiddle",
                                   :border => 0,
                                   :id => "spinner",
                                   :width => 21,
                                   :height => 21,
                                   :style =>"display: none;" ) %>
      <% end %>

    </h2>

    <div id="pagina">
    </div>


    <script language="javascript">

      function CobroFiltro()                  //
{
    document.getElementById("filtro").focus();
}

      function pesquisa(valor)                //

      {
       id         = document.getElementById('id').value
       busca      = document.getElementById('busca').value
       tipo     = document.getElementById('tipo').value
        //FUNÇÃO QUE MONTA A URL E CHAMA A FUNÇÃO AJAX

        url="/cobros/filtro_busca_cliente/"+id+"?tipo="+tipo+"&busca="+busca+"&filtro="+valor+"&method=get";

        ajax(url);

      }


      function ajax(url)                      //

      {


         Element.show('spinner')
        //alert(nick);

        //alert(dest);

        //alert(msg);



        req = null;

        // Procura por um objeto nativo (Mozilla/Safari)

        if (window.XMLHttpRequest) {

          req = new XMLHttpRequest();

          req.onreadystatechange = processReqChange;

          req.open("GET",url,true);

          req.send(null);

          // Procura por uma versão ActiveX (IE)

        } else if (window.ActiveXObject) {

          req = new ActiveXObject("Microsoft.XMLHTTP");

          if (req) {



            req.onreadystatechange = processReqChange;

            req.open("GET",url,true);



            req.send();

          }

        }

      }

      function processReqChange()             //

      {



        // apenas quando o estado for "completado"

        if (req.readyState == 4) {



          // apenas se o servidor retornar "OK"



          if (req.status ==200) {



            // procura pela div id="pagina" e insere o conteudo

            // retornado nela, como texto HTML

            onSuccess:Element.hide('spinner')
            document.getElementById('pagina').innerHTML = req.responseText;



          } else {

            alert("Houve um problema ao obter os dados:n" + req.statusText);

          }

        }

      }

      function Fecha(vencimento3,vencimento2,vencimento1,data,vendedor_id,vendedor_nome,pagare,documento_nome,documento_numero_01,documento_numero_02,documento_numero,cota,clase_produto,venda_id,valor_dolar,valor_guarani,valor_real,anterior_dolar,anterior_guarani,anterior_real,saldo_dolar,saldo_guarani,saldo_real,interes_us,interes_gs,interes_rs)
  {
    document.getElementById('cobros_detalhe_vencimento_3i').value        = vencimento3;
    document.getElementById('cobros_detalhe_vencimento_2i').value        = vencimento2;
    document.getElementById('cobros_detalhe_vencimento_1i').value        = vencimento1;
    document.getElementById('cobros_detalhe_data_lanz').value            = data;
    document.getElementById('cobros_detalhe_vendedor_id').value          = vendedor_id;
    document.getElementById('cobros_detalhe_vendedor_nome').value        = vendedor_nome;
    document.getElementById('cobros_detalhe_pagare').value               = pagare;
    document.getElementById('cobros_detalhe_documento_nome').value       = documento_nome;
    document.getElementById('cobros_detalhe_documento_numero_01').value  = documento_numero_01;
    document.getElementById('cobros_detalhe_documento_numero_02').value  = documento_numero_02;
    document.getElementById('cobros_detalhe_documento_numero').value     = documento_numero;
    document.getElementById('cobros_detalhe_cota').value                 = cota;
    document.getElementById('cobros_detalhe_clase_produto').value        = clase_produto;
    document.getElementById('cobros_detalhe_venda_id').value             = venda_id;

    document.getElementById('cobros_detalhe_valor_dolar').value          = valor_dolar;
    document.getElementById('cobros_detalhe_valor_guarani').value        = valor_guarani;
    document.getElementById('cobros_detalhe_valor_real').value           = valor_real;    
    document.getElementById('cobros_detalhe_anterior_guarani').value     = anterior_dolar;
    document.getElementById('cobros_detalhe_anterior_guarani').value     = anterior_guarani;
    document.getElementById('cobros_detalhe_anterior_real').value        = anterior_real
    document.getElementById('cobros_detalhe_saldo_dolar').value          = saldo_dolar;
    document.getElementById('cobros_detalhe_saldo_guarani').value        = saldo_guarani;
    document.getElementById('cobros_detalhe_saldo_real').value           = saldo_real;
    document.getElementById('cobros_detalhe_interes_dolar').value        = interes_us;
    document.getElementById('cobros_detalhe_interes_guarani').value      = interes_gs;
    document.getElementById('cobros_detalhe_interes_real').value         = interes_rs;

     if( document.getElementById('moeda').value == 0){
        document.getElementById('cobros_detalhe_cobro_dolar').value   = saldo_dolar;
        document.getElementById("cobros_detalhe_cobro_dolar").focus()
      }
      else if( document.getElementById('moeda').value == 1){
        document.getElementById('cobros_detalhe_cobro_guarani').value   = saldo_guarani;
        document.getElementById("cobros_detalhe_cobro_guarani").focus()

      }
      else{
        document.getElementById('cobros_detalhe_cobro_real').value   = saldo_real;
        document.getElementById("cobros_detalhe_cobro_real").focus()

      }
    
  }


    </script>
  </div>
</body>  