<h1 align="right" id="header">Personas</h1>
<% if current_user.tipo == 0 or current_user.tipo == 1  %>
<div class="acessos">
  <%= link_to 'Nuevo', new_persona_path, :class => "button add" %> 
  <%= link_to 'Listado', '#', :class => "button print", :onclick => 'SeguirCobros()' %>    

</div>
<% end %>   

  <div class="group">
    <h2>
      <%= form_tag busca_personas_path, :method => "get" do%>
      Tipo:
        <select name="per" id="per" onKeyUp    ="EnterTab(event,'busca')">
          <option></option>
          <option>CLIENTE</option>
          <option>CORPORATIVO</option>
          <option>DESPACHANTE</option>
          <option>EMPLEADO</option>
          <option>FABRICANTE</option>
          <option>LABORATORIO</option>
          <option>MAYORISTA</option>
          <option>PROVEEDOR</option>
          <option>VENDEDOR</option>
        </select>
        Busca :
        <select name="tipo" id="tipo" onKeyUp    ="EnterTab(event,'busca')">
          <option>DESCRIPCION</option>
          <option>RUC</option>
        </select>

        <input id="busca" name="busca" type="text" onKeyUp="pesquisa(this.value)"/>
        <%= image_tag("load.gif",
                                   :align => "absmiddle",
                                   :border => 0,
                                   :id => "spinner",
                                   :width => 21,
                                   :height => 21,
                                   :style =>"display: none;" ) %>

      <% end %>

    </h2>

    <div id="pagina">
    </div>


    <script language="javascript">


        function SeguirCobros(){
          var tipo = document.getElementById('tipo').value
          var per  = document.getElementById('per').value
          var valor  = document.getElementById('busca').value

          url2="/personas/busca_cliente.pdf?per="+per+"&tipo="+tipo+"&busca="+valor+"&commit=Buscar";
          location.href=url2 ;
        }

      function pesquisa(valor)

      {

        var tipo = document.getElementById('tipo').value
        var per  = document.getElementById('per').value

        //FUNÇÃO QUE MONTA A URL E CHAMA A FUNÇÃO AJAX
        url="/personas/busca?per="+per+"&tipo="+tipo+"&busca="+valor+"&commit=Buscar";

        ajax(url);

      }


      function ajax(url)

      {



        //alert(nick);

        //alert(dest);

        //alert(msg);

          $('#spinner').show();

        req = null;

        // Procura por um objeto nativo (Mozilla/Safari)

        if (window.XMLHttpRequest) {

          req = new XMLHttpRequest();

          req.onreadystatechange = processReqChange;

          req.open("GET",url,true);

          req.send(null);

          // Procura por uma versão ActiveX (IE)

        } else if (window.ActiveXObject) {

          req = new ActiveXObject("Microsoft.XMLHTTP");

          if (req) {



            req.onreadystatechange = processReqChange;

            req.open("GET",url,true);



            req.send();

          }

        }

      }



      function processReqChange()

      {



        // apenas quando o estado for "completado"

        if (req.readyState == 4) {



          // apenas se o servidor retornar "OK"



          if (req.status ==200) {



            // procura pela div id="pagina" e insere o conteudo

            // retornado nela, como texto HTML


            onSuccess:$('#spinner').hide();
            document.getElementById('pagina').innerHTML = req.responseText;



          } else {

            alert("Houve um problema ao obter os dados:n" + req.statusText);

          }

        }

      }
    </script>
  </div>



