<p>
  <b>Usuario created:</b>
  <%=h @stock.usuario_created %>
</p>

<p>
  <b>Usuario updated:</b>
  <%=h @stock.usuario_updated %>
</p>


<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
