<body onload="DataFinal(),CampoInicio()">
   <h1 align="right" id="header">.</h1>
   Extracto Caja
   <div class="group">
      <h2>
         <%= form_tag relatorio_financas_financas_path, :method => "get" do%>
            <table>
			   <input type="hidden" name="filtro"  id="filtro"   size="10" value="1" />
               <tr>
                  <td> Fecha </td>

                  <td><input name="inicio" id="inicio"  size="10"  type="text" onkeyup="Formatadata(this,event)" />
                     Hasta
                     <input name="final"  id="final"   size="10" type="text" onkeyup="Formatadata(this,event)"/></td>
               </tr>

               <tr>
                  <td> Cheque :</td>

                  <td><input name="cheque" id="cheque"  type="text" size="10" /></td>
               </tr>


               <tr>
                  <td>Cuenta :</td>
                  <td>
                     <%=   select("busca", "conta", Conta.all( :select => 'id,nome',:conditions => ['tipo = 0'],:order => 'nome').collect {|p| [ p.nome, p.id ] }, { :include_blank => true},
                                                         {:class         => "selc_medium"})   %>
                  </td>
               </tr>

               <tr>
                  <td></td>
                  <td>
                     <fieldset>
                        <legend>Moneda</legend>
                        <input id="moeda" name="moeda" type="radio" value="0"  checked/>Dolar
                        <input id="moeda" name="moeda" type="radio" value="1"/>Guaranies
                        <input id="moeda" name="moeda" type="radio" value="2"/>Reais
                     </fieldset>
                  </td>
               </tr>

               <tr>
                  <td></td>
                  <td>

                     <input type="submit" value="Informe" onclick="Tipo('0')" class="button_info"/>
                     <input type="submit" value="Excel" onclick="Tipo('1')" class="button_info"/>
                  </td>
               </tr>

               <input type="hidden" name="tipo" id="tipo"  size="5" value="0"/>


            <% end %>

         </table>


      </h2>
   </div>
</body>


