<h1>Listing vendas_financas</h1>

<table>
  <tr>
  </tr>

<% for vendas_financa in @vendas_financas %>
  <tr>
    <% vendas_financa.update_attribute :persona_id, vendas_financa.venda.persona_id %>
    <td><%= link_to 'Show', vendas_financa %></td>
    <td><%= link_to 'Edit', edit_vendas_financa_path(vendas_financa) %></td>
    <td><%= link_to 'Destroy', vendas_financa, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New vendas_financa', new_vendas_financa_path %>
