
<h1 align="right" id="header">Vendas</h1>
<br/>

<%= render :partial=>"/vendas/eps/new_produto_#{$empresa}", :locals=>{:vendas_produto=>VendasProduto.new(:venda_id=>@venda.id)} %>

<%= link_to '<< Volver',venda_path(@venda) %>
<script>
  //ABRI POPUP-----------------------------------------------------------------
document.onkeydown=function(e)
{
    if(e.which == 113)
        window.open('http://localhost:3000/produtos/busca_venda_produto', 'Pagina', ' SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=1000, HEIGHT=400');
}
//FIM ABRI POPUP----------------------------------------------------------------

</script>