<table>
  <tr>  
    <td><h1>Total de Produto :</h1></td>
    <td><h1><%=@produto_count%></h1></td>
 </tr>
 <tr>
    <td><h1>Total Dolar :</h1></td>
    <td><h1><%=h number_to_currency(@produto_sum_dolar, :format=>' %n ', :separator => ",")  %></h1></td>
</tr>
<tr>
    <td><h1>Total Gs :</h1></td>
    <td><h1><%=h number_to_currency(@produto_sum_guarani, :format=>' %n ', :separator => ",")  %></h1></td>

  </tr>
</table>
