<h1 align="right" id="header">Acientos Contables</h1>
Acientos Contables

<div class="group">
  <a href="/diarios/<%= @diario.id %>"><< Volver</a> |
  <a href="#">Comprobante</a> | 
  <a href="/diarios">Fin >></a>
</div>


