$('#new_vendas_produto')
$('#vendas_produtos').append("<%= escape_javascript(render(:partial => @vendas_produto)) %>");
$("#sub_total").html(" <span>Sub-Total:</span> <%= number_to_currency(VendasProduto.sum(:total_guarani,   :conditions => ['venda_id = ?',@vendas_produto.venda_id]), :format=>' %n ', :precision => 0)%>");
$('#cod_busca').focus();
$("#new_vendas_produto")[0].reset();

