<h1>Listing diario_debes</h1>

<table>
  <tr>
  </tr>

<% @diario_debes.each do |diario_debe| %>
  <% diario_debe.update_attribute :data, diario_debe.diario.data %>
  <tr>
    <td><%= link_to 'Show', diario_debe %></td>
    <td><%= link_to 'Edit', edit_diario_debe_path(diario_debe) %></td>
    <td><%= link_to 'Destroy', diario_debe, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New diario_debe', new_diario_debe_path %>