<script language="javascript">
   function bloqEnter(objEvent) {
      var iKeyCode;
      iKeyCode = objEvent.keyCode;
      if(iKeyCode == 13) return false;
      return true;
   }
</script>


<body onload="CampoTipo()">   
   <div class="group_cd">
      <%form_tag dinamic_busca_pedido_compra_produto_produtos_path, :method => "get" do%>
         <select name="tipo" id="tipo">
            <option>DESCRIPCION</option>
            <option>BARRA</option>
         </select>

      <input id         ="busca"
             name       ="busca"
             type       ="text"
             size       ="40"
             onkeypress ="return bloqEnter(event)"
             onKeyUp    ="EnterTab(event,'button')"
             onkeydown  ="f(this)" />

      <input type   ="button"
             id     ="button"
             onclick="pesquisa(document.getElementById('busca').value)"
             value  ="Buscar..."/>

      <% end %>
</div>

      <div id="pagina">
      </div>



      <script language="javascript">
  
         function Fecha(fabricante_cod,produto_nome,id,clase_id,grupo_id,sub_grupo_id)
         {
            window.opener.document.getElementById('codigo').value                               = fabricante_cod;
            window.opener.document.getElementById('pedido_compra_produto_produto_nome').value      = produto_nome;
            window.opener.document.getElementById('pedido_compra_produto_quantidade').value        = '';
            window.opener.document.getElementById('pedido_compra_produto_produto_id').value        = id;
            window.opener.document.getElementById('pedido_compra_produto_produto_fabricante_cod').value    = fabricante_cod;
            window.opener.document.getElementById('pedido_compra_produto_clase_id').value          = clase_id;
            window.opener.document.getElementById('pedido_compra_produto_grupo_id').value          = grupo_id;
            window.opener.document.getElementById('pedido_compra_produto_sub_grupo_id').value      = sub_grupo_id;
            window.opener.document.getElementById("pedido_compra_produto_quantidade").focus()
            self.close();
         }

         function pesquisa(valor)

         {
            tipo = document.getElementById('tipo').value
            //FUNÇÃO QUE MONTA A URL E CHAMA A FUNÇÃO AJAX

            url="/produtos/dinamic_busca_pedido_compra_produto?tipo="+tipo+"&busca="+valor;

            ajax(url);

         }


         function ajax(url)

         {



            //alert(nick);

            //alert(dest);

            //alert(msg);



            req = null;

            // Procura por um objeto nativo (Mozilla/Safari)

            if (window.XMLHttpRequest) {

               req = new XMLHttpRequest();

               req.onreadystatechange = processReqChange;

               req.open("GET",url,true);

               req.send(null);

               // Procura por uma versão ActiveX (IE)

            } else if (window.ActiveXObject) {

               req = new ActiveXObject("Microsoft.XMLHTTP");

               if (req) {



                  req.onreadystatechange = processReqChange;

                  req.open("GET",url,true);



                  req.send();

               }

            }

         }



         function processReqChange()

         {



            // apenas quando o estado for "completado"

            if (req.readyState == 4) {



               // apenas se o servidor retornar "OK"



               if (req.status ==200) {



                  // procura pela div id="pagina" e insere o conteudo

                  // retornado nela, como texto HTML



                  document.getElementById('pagina').innerHTML = req.responseText;



               } else {

                  alert("Houve um problema ao obter os dados:n" + req.statusText);

               }

            }

         }
      </script>   
</body>