<body onload="CampoTipo()">     
  <div class="groupvenda">
    <%= form_tag dinamic_busca_venda_produto_produtos_path, :method => "get" do%>

   Deposito :       <input id         ="deposito_id"
             name       ="deposito_id"
             type       ="text"
             size       ="3"
             value="<%= params[:deposito_id]%>"
             onkeypress ="return bloqEnter(event)"
             onKeyUp    ="EnterTab(event,'tipo')"
             onkeydown  ="f(this)" />

    
    <select name="tipo" id="tipo" onKeyUp    ="EnterTab(event,'busca')">
       <option>CODIGO</option>
       <option>DESCRIPCION</option>
       <option>COD FABRICANTE</option>
    </select>


      <input id         ="busca"
             name       ="busca"
             type       ="text"
             size       ="40"
             onkeypress ="return bloqEnter(event)"
             onKeyUp    ="EnterTab(event,'button')"
             onkeydown  ="f(this)" />

      <input type   ="button"
             id     ="button"
             onclick="pesquisa(document.getElementById('busca').value)"
             value  ="Buscar..."/>
             
      <%= image_tag("load.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "spinner",
              :width => 21,
              :height => 21,
              :style =>"display: none;" ) %>
             

    <% end %>
    <hr/>
    <div id="pagina">
    </div>

</div>
  	
    <%= hidden_field_tag :cliente, params[:cliente]%>
    <script language="javascript">
  
      function Fecha(produto_nome,produto_cod,id,unitario_guarani)
      {
        window.opener.document.getElementById('vendas_produto_produto_nome').value        = produto_nome;
        window.opener.document.getElementById('cod_busca').value                          = produto_cod;
        window.opener.document.getElementById('vendas_produto_produto_id').value          = id;
        window.opener.document.getElementById('vendas_produto_unitario_guarani').value    = unitario_guarani;
        window.opener.document.getElementById('vendas_produto_quantidade').value          = '1';

        window.opener.document.getElementById("vendas_produto_quantidade").focus()
        self.close();
      }
      

      function pesquisa(valor)

      {

            var tipo     = document.getElementById('tipo').value
            var cliente  = document.getElementById('cliente').value
            var deposito = document.getElementById('deposito_id').value
            //FUNÇÃO QUE MONTA A URL E CHAMA A FUNÇÃO AJAX

            url="/produtos/dinamic_busca_venda_produto?deposito_id="+deposito+"&cliente="+cliente+"&tipo="+tipo+"&busca="+valor;

        ajax(url);

      }


      function ajax(url)

      {


        $('#spinner').show();
        //alert(nick);

        //alert(dest);

        //alert(msg);



        req = null;

        // Procura por um objeto nativo (Mozilla/Safari)

        if (window.XMLHttpRequest) {

          req = new XMLHttpRequest();

          req.onreadystatechange = processReqChange;

          req.open("GET",url,true);

          req.send(null);

          // Procura por uma versão ActiveX (IE)

        } else if (window.ActiveXObject) {

          req = new ActiveXObject("Microsoft.XMLHTTP");

          if (req) {



            req.onreadystatechange = processReqChange;

            req.open("GET",url,true);



            req.send();

          }

        }

      }



      function processReqChange()

      {



        // apenas quando o estado for "completado"

        if (req.readyState == 4) {



          // apenas se o servidor retornar "OK"



          if (req.status ==200) {



            // procura pela div id="pagina" e insere o conteudo

            // retornado nela, como texto HTML


            onSuccess:$('#spinner').hide();
            document.getElementById('pagina').innerHTML = req.responseText;
          


          } else {

            alert("Houve um problema ao obter os dados:n" + req.statusText);

          }

        }

      }
    </script>
  
</body>

