<h1>Listing compras_produtos</h1>

<table>
  <tr>
  </tr>

<% for compras_produto in @compras_produtos %>
<% if compras_produto.tipo_compra == 0%>
<% compras_produto.update_attribute :custo_contabil_dolar, compras_produto.unitario_dolar - compras_produto.iva_dolar %>
<% compras_produto.update_attribute :custo_contabil_guarani, compras_produto.unitario_guarani - compras_produto.iva_guarani %>
<% end %>
  <tr>
    <td><%= link_to 'Show', compras_produto %></td>
    <td><%= link_to 'Edit', edit_compras_produto_path(compras_produto) %></td>
    <td><%= link_to 'Destroy', compras_produto, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New compras_produto', new_compras_produto_path %>
