<h1>Listing pagos_financas</h1>

<table>
  <tr>
  </tr>

<% @pagos_financas.each do |pagos_financa| %>
  <tr>
    <td><%= link_to 'Show', pagos_financa %></td>
    <td><%= link_to 'Edit', edit_pagos_financa_path(pagos_financa) %></td>
    <td><%= link_to 'Destroy', pagos_financa, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pagos_financa', new_pagos_financa_path %>