<div class="group">
	<p>Producto : <%= @produto.nome%></p>
</div>
<br />

<div class="group">
			<table>
				<tr>
					<td>
					<div class="group">						
  					  <% if @produto.picture_content_type.present? %>
					    <%= image_tag @produto.picture.url,:size => "540x400" %>
					  <% else %>
					    <%= image_tag ('../images/defalt.jpg',:size => "540x400") %>
					  <% end %>
					<br />
					Obs.: <%= @produto.obs %>
					</div>
					</td>
          		</tr>
 			</table>
</div>

