
html,body,div,table,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}img,body,html{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;}q:before,q:after{content:'';}.ext-el-mask
{
    z-index: 100;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

body,html {
    background-color:#f0f0f0;
    height: 100%;
}

div#back
{
    margin: 10px;
    background-color: #fff;
    border: 1px solid #cccccc;
    min-height: 89%;
    height: auto;
    font-weight:bold;

}

div#contents
{
    font:normal 12px arial, helvetica,tahoma,sans-serif;
    font-weight:500;
    font-weight: normal;
    color:#282828;
    height: 100%;

}
div#contents h1
{    
    font:normal 14px tahoma, arial, helvetica, sans-serif;

}

div.footer
{
  font:normal 12px tahoma, arial, helvetica, sans-serif;
  text-align: center;
      color: #555;


}


 input:focus, select:focus, button:focus, textarea:focus{
        background-color:#EEE9E9;
        border-color:#003366;
        
}

.style3 {
    font-family: Geneva, Arial;
    font-weight: bold;
    font-size: 65px;
}

#mydiv
{
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    margin: 5px auto;

}

#mydiv tr
{
    height:35px;   

}

#mydiv2
{
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    margin: 5px auto;

}

#mydiv2 tr
{
    height:35px;   

}

.Mensagem
{
    width: 80%;
    background-color: #bdefbd;
    margin: 5px auto;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    text-align:center;
    color:white;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.RolagemMenu
{
    font-family: Arial,sans-serif;
    background-color: white;
    border: 1px solid #cccccc;
    height:175px;
    font-size:12px;
    overflow:auto;
    padding: 1px 1px 1px 1px;
}


.RolagemShow
{
    font-family: Arial,sans-serif;
    border: 1px solid #cccccc;
    height:60px;
    font-size:12px;
    overflow:auto;
    padding: 1px 1px 1px 1px;
}

div.group_menu
{
    border: 1px solid #b1b5d0;
    margin-top: 10px;    
    font-weight:bold;

}

div.group_form
{
    background: #e5e5e5;
}


div.group_menu h2
{
    padding: 5px;
    margin: 0px;
    background: url(/images/fundo.gif);
    font:normal 12px tahoma, arial, helvetica, sans-serif;
}

.rolagem
{
    border: 1px dotted #cccccc;
    background: white;
    height:250px;
    overflow:auto;
    padding: 1px 1px 1px 1px;
} 



.rolagem_cobro
{
    font:normal 12px arial, helvetica,tahoma,sans-serif;
    border: 1px dotted #cccccc;
    background: white;
    height:100px;
    overflow:auto;
    padding: 1px 1px 1px 1px;
}

.rolagem_min
{
    font:normal 12px arial, helvetica,tahoma,sans-serif;
    border: 1px dotted #cccccc;
    background: white;
    height:80px;
    overflow:auto;
    padding: 1px 1px 1px 1px;
}



.cabeca_venda
{
    font-family: Arial,sans-serif;
    font-size:10px;
}

.rolagemExtracto
{
    font-family: Arial,sans-serif;
    border: 1px dotted #cccccc;
    height:200px;
    font-size:10px;
    overflow:auto;
    padding: 1px 1px 1px 1px;
}


.RolagemPedidoIndex
{
    font-family: Arial,sans-serif;
    border: 1px dotted #cccccc;
    height:89px;
    font-size:12px;
    overflow:auto;
    padding: 1px 1px 1px 1px;
}


.RolagemPedidoShow
{
    font-family: Arial,sans-serif;
    border: 1px dotted #cccccc;
    height:89px;
    font-size:12px;
    overflow:auto;
    padding: 1px 1px 1px 1px;
}






/*PAGINAÇAO--------------------------------------------------------------*/
.pagination {
    padding: 3px;
    margin: 3px;
}
.pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px;
    text-decoration: none;
    color: #000099;
}
.pagination a {
    border:#000099;
    color: #000;
}
.pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #515fb6;
    font-weight: bold;
    background-color: #515fb6;
    color: #FFF;
}
.pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 0px solid #eee;
    color: #ddd;
}
/*FIM--------------------------------------------------------------*/



/*VALIDAÇAO--------------------------------------------------------------*/
.fieldWithErrors {
    background-color: red;
    display: table;
}

#flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
}

#flash_notice, #flash_error {
    padding: 5px 8px;
    margin: 10px 0;
}


#errorExplanation {
    width: 400px;
    border: 1px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: square;
}

/*FIM VALIDAÇAO-----------------------------------------------------------------*/

/*ZEBRADO-----------------------------------------------------------------------*/
.cor2 {
    background-color: #e1e1e8;
}

.cor1 {
    background-color: #c7cce8;
}
/*FIM ZEBRADO-------------------------------------------------------------------*/




/*LOGO MERCOSYS VIA-------------------------------------------------------------*/
.style1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #b1b5d0;
    text-shadow: 1px 1px white, -1px -1px #666666;
    font-weight: bold;
    font-size: 24px;


}

.small {
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;    


}

/*FIM MERCOSYS VIA--------------------------------------------------------------*/


/*DETALHE USUARIO---------------------------------------------------------------*/
.cabeca
{

    background: url(wbg.gif) repeat-x top;
    font:normal 12px tahoma, arial, helvetica, sans-serif;
    padding: 0px 15px 0px;
    margin: 0;
}
/*FIM DETALHE-------------------------------------------------------------------*/


/*FIM TITULO PAGINA-------------------------------------------------------------*/
h1#header
{
    background: url(wbg.gif) repeat-x top;
    padding: 7px;
    padding-left:25px;
    color: #777;
    text-shadow: 1px 1px white, -1px -1px #b1b5d0;
    font-weight: bold;
    border: 1px solid #b1b5d0;

}
/*FIM TITULO--------------------------------------------------------------------*/


/*FIM ALINHAMENTO---------------------------------------------------------------*/
/*QUADRO CADASTRO---------------------------------------------------------------*/
div.group_cd
{
    border: 1px solid #b1b5d0;
    margin-bottom: 0px;
    background: #e5e5e5;
    font-weight:500;
    font:normal 12px arial, helvetica,tahoma,sans-serif;

}

div.group_cd tr
{
    height:35px;
}	


div.group
{
    border: 1px solid #b1b5d0;
    background-image:url(gray/toolbar/bg.gif) no-repeat;
    margin-top: 0px;
    font:normal 12px arial, helvetica,tahoma,sans-serif;
}

div.acessos
{
    padding: 1px;    
    background-image:url(gray/toolbar/bg.gif);
    margin-top: 0px;
    margin-bottom: 0px;
    font-family:verdana,geneva,arial,helvetica,sans-serif;
    font-size:12px;

}


div.groupvenda
{
    border: 1px solid #b1b5d0;
    margin-bottom: 0px;
    background: #e5e5e5;
    font-family:verdana,geneva,arial,helvetica,sans-serif;
    font-size:14px;
    font-weight:bold;

}
div.groupvendacomprovante
{
    border: 1px solid #b1b5d0;
    margin-bottom: 1px;
    font-family:verdana,geneva,arial,helvetica,sans-serif;
    font-size:32px;
    font-weight:bold;

}


div.group h2
{
    padding: 5px;
    margin: 0px;    
    background: -moz-linear-gradient(top, #eee 0%, #ccc 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
    background-image: -o-linear-gradient(top,rgb(221,221,221),rgb(187,187,187));   
    font:normal 12px arial, helvetica,tahoma,sans-serif;
    font-weight:bold;    
    font-size: 110%;
}
/*FIM QUADRO--------------------------------------------------------------------*/

.view_venda{
    float:left;
}
/*MENU -------------------------------------------------------------------------*/

.menu
{

    border-color:#d0d0d0;
    background-color:#f0f0f0;
    background-image:url(gray/toolbar/bg.gif);
    padding:10px 10px 20px;
    border-bottom:1px solid #d0d0d0;;    
    font:normal 12px tahoma, arial, helvetica, sans-serif;
    margin: 0px;
    

}

/*MENU -------------------------------------------------------------------------*/
.menu li{
    float:left;
    height: 20px;
}

.menu li a {
    color:black;    
    display:block;
    padding:0px 15px;
    text-align:center;
    text-decoration:none;
}

.menu .cont ul{
    line-height:30px;
}

.menu li a:hover{
    color:#000000;    
    text-decoration:none;
    border:1px solid #cccccc;    
}

/*  QUADRO LINKS*/
.menu li ul{
    background-color:#f0f0f0;
    border-left:2px solid #cccccc;
    border-right:2px solid #cccccc;
    border-bottom:2px solid #cccccc;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    display:none;
    height:auto;
    position:absolute;
    width:230px;
    z-index:200;
}

.menu li:hover ul{
    display:block;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

}

.menu li li {
    display:block;
    float:none;    
    width:230px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

}

.menu li ul a{
    display:block;    
    font-size:12px;
    font-style:normal;
    padding:0px 10px 0px 15px;
    text-align:left;
}

.menu li ul a:hover{
    border: 1px solid #cccccc;
    color:#666666;
}

/*FIM MENU----------------------------------------------------------------------*/

.head_grid{
    background: url(wbg.gif) repeat-x top; 
    font:normal 12px arial, helvetica,tahoma,sans-serif;

}



@media print {
    body { background-color: #FFF; }
    #container {
        width: auto;
        margin: 0;
        padding: 0;
        border: none;
    }

    #line_items {
        page-break-before: always;

    }
}

#botao1{
    background:url(/images/botoes.png) -50px 10px no-repeat;
}



.bt_mes1 {
    background: url(/images/tree/drop-yes.gif) no-repeat;
}


<!--

#novo
{
    left: 400px;
    background: url(/images/drop-add.gif) no-repeat 4px 4px;
    padding-left: 15px;
    text-decoration: none;
    font:normal 12px tahoma, arial, helvetica, sans-serif;        
    white-space: nowrap;
    font-weight: bold; 
    color: #111;        
    padding: 5px;    
    padding-left: 20px;    

}

#novo:hover
{
    -webkit-border-radius:0.4em;
    -moz-border-radius:0.4em;
    border-radius:0.4em;
    padding: 5px;    
    padding-left: 20px;    
    border: 1px solid #999;    
    
}


-->


div.widget_tableDiv {
    border:1px solid #ACA899;	/* Border around entire widget */
    height: 100px;
    overflow:auto;
    overflow-y:auto;
    overflow:-moz-scrollbars-vertical;
    width:780px;

}

/* ABAS */

ul.tabs {
    margin-top:  5px;
    height: 22px; /*--Set height of tabs--*/
    background:#efefef;
    border-bottom: 1px solid #b1b5d0;
    border-left: 1px solid #b1b5d0;
    border-right:  1px solid #b1b5d0;
    border-top:  1px solid #b1b5d0;    
    margin: 10px;    
    margin-bottom: 0px;        
}

ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    height: 21px; /*--Subtract 1px from the height of the unordered list--*/
    line-height: 21px; /*--Vertically aligns the text within the tab--*/
    border: 1px solid #b1b5d0;
    border-left: none;
    margin-bottom: -1px; /*--Pull the list item down 1px--*/
    overflow: hidden;
    position: relative;
    background:#efefef;
    color:#666666;
    font:normal 12px arial, helvetica,tahoma,sans-serif;


}

ul.tabs li a {
    text-decoration: none;
    color: #000000;
    display: block;
    font-size:14px;
    padding: 0 20px;
    font:normal 12px arial, helvetica,tahoma,sans-serif;
    font-weight: bold;
    border: 1px solid #e0e0e0; /*--Gives the bevel look with a 1px white border inside the list item--*/
    outline: none;
}

ul.tabs li a:hover {
    background: #ccc;
}

html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
                                                          background: #e5e5e5;
                                                          border-bottom: 1px solid #e5e5e5; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
    border: 1px solid #b1b5d0;
    border-top: none;
    overflow: hidden;
    clear: both;
    margin: 10px;        
    margin-top: 0px;        
    background: #e5e5e5;
    min-height: 92%;
    height: auto;
        font:normal 12px arial, helvetica,tahoma,sans-serif;

    
}


.tab_content {
    padding: 5px;
    font-size:12px;   
    min-height: 92%;
    height: auto;
        font:normal 12px arial, helvetica,tahoma,sans-serif;


}

.tab_content  tr
{
    height:30px;
}


.tab_content .group tr
{
    height:15px;
}

fieldset{
    border: 1px solid #aaa;
    font:normal 12px arial, helvetica,tahoma,sans-serif;
    margin: 2px;
    padding: 2px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;


}

input[type="text"]{
    border: 1px solid #aaa;
    font:normal 12px arial, helvetica,tahoma,sans-serif;
    height: 20px;
    padding: 2px;
    margin: 2px;
    color: #444;
    outline: none; 
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;


}

input[type="radio"]{
    border: 1px solid #aaa;
    font:normal 12px arial, helvetica,tahoma,sans-serif;
    height: 19px;
    padding: 5px;
    vertical-align: bottom;
    color: #444;
}


textarea{
    border: 1px solid #aaa;
    color: #444;
    font:normal 12px arial, helvetica,tahoma,sans-serif;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;

}

input:focus {
    -webkit-box-shadow: 0px 0px 2px #007eff;
    -moz-box-shadow: 0px 0px 2px #007eff;
    box-shadow: 0px 0px 2px #007eff;

}



textarea:focus {
    -webkit-box-shadow: 0px 0px 2px #007eff;
    -moz-box-shadow: 0px 0px 2px #007eff;
    box-shadow: 0px 0px 2px #007eff;
}

select:focus {
    -webkit-box-shadow: 0px 0px 2px #007eff;
    -moz-box-shadow: 0px 0px 2px #007eff;
    box-shadow: 0px 0px 2px #007eff;
}



div#sidebar{
    background: #F4F5F6;
    border:1px solid #DDD;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 12px;

    margin-left:10px;

}

.label{
    font-weight: bold;
    float: right;
    padding-top:9px; 
}
#sidebar .section h3{
    color: #666;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    margin: 5px 0;
    padding: 7px 9px;
    text-shadow: white 0px 1px 1px;
}

#sidebar .field {
    margin: 10px 5px 10px 5px;
}

#sidebar .section .in{
    margin: 0 10px;
    overflow:hidden;
}

#sidebar hr          {
    border:none;
    border-top:1px solid #DDD;
    border-bottom:1px solid #FFF;
}

#sidebar .avatar{
    border: 2px solid #e2e2e2;
    padding: 5px;

}

#sidebar .stock_atual{
    font-size: 20px;
}

.grid  tr{
    height:15px;
}

#img { 
  width:70%; 
  height:40%;
 }
 
 .nav{
   border-color:#d0d0d0;
    background-color:#f0f0f0;
    background-image:url(/images/images/gray/toolbar/bg.gif);
    padding:5px 5px 5px;
    border-bottom:1px solid #d0d0d0;;    
    font:normal 12px tahoma, arial, helvetica, sans-serif;
    margin: 0px;
 }

.nav h2 a{       
    text-decoration: none;
    color:black;    
    padding:0px 10px;
    text-align:center;
}