<style>
  div
{
font-family:Courier, monospace;
}

</style>

<div class="group">
  <table>
    <tr>
      <td><b>Cliente :</b></td>
      <td><%=@venda.persona_nome%></td>
    </tr>
    <tr>
      <td><b>Moneda :</b></td>
      <%if @venda.moeda == 0 %>
        <td>DOLAR</td>
      <%else%>
        <td>Guaranies</td>
      <%end%>
    </tr>

    <tr>
      <td><b>Venda :</b></td>
      <%if @venda.tipo_de_venda == 0 %>
        <td>CONTADO</td>
      <%else%>
        <td>CREDITO</td>
      <%end%>
    </tr>


  </table>

</div>


<table>
  <tr>
  <td>
<div class="group">
  <table>
    <tr>
      <td>
        <div id="venda_produtos">
          <%= render :partial=>"index_produto", :locals=>{:vendas_produtos => @venda.vendas_produtos} %>
        </div>
      </td>
      <td valign="top">
        <div id="div2">
        </div>

      </td>
    </tr>
  </table>
</div>
  </td>
  </tr>
</table>



<script>
  document.write (opener.document.getElementById("klaus").innerHTML);

  window.print();
</script>