<style type="text/css">
	body { 
	font-family:Lucida Console, Courier, Monotype;
	} 
</style>
	<table align="left"  valign="top">
		<tr>
			<td>
			<FONT  size="5">
				<%= $empresa_nome %>
			</FONT>
			</td>

			<td  align="right">
			<FONT size="5">
				COMPROBANTE DE VENTA   N. <%= @venda.id%>
			</FONT>
			</td>
		</tr>
		<tr>
			<td colspan="2">------------------------------------------------------------</td>
		</tr>
	</table>
</body>

