<h1 align="right" id="header">.</h1>
Nota de Credito - Comprovante
<div class="group">
   <a href="/nota_creditos/<%= @nota_credito_proveedor.id.to_i %>"> Imprimir </a> |
   <a href="/nota_creditos"> Fin </a>
</div>



