
<div class="menu">
   <ul>
      <li><a href="/menu"> Menu</a></li>
      <li><a href="#">Cadastros</a>
         <ul>
            <li><a href="/bicos">                      Bicos</a></li>
            <li><a href="/contas">                     Caja/Banco</a></li>
            <li><a href="/cidades">                    Cidades</a></li>
            <li><a href="/moedas">                     Cotizacion</a></li>
            <li><a href="/depositos">                  Depositos</a></li>
            <li><a href="/setores">                    Depart.</a></li>            
            <li><a href="/documentos">                 Documentos</a></li>
            <li><a href="/estados">                    Estados</a></li>
            <li><a href="/grupos">                     Grupos</a></li>
            <li><a href="/sub_grupos">                 Marca</a></li>
            <li><a href="/metas">                      Meta</a></li>
            <li><a href="/personas">                   Personas</a></li>
            <li><a href="/planos">                     Plan de Pagos</a></li>
            <li><a href="/paises">                     Paises</a></li>
            <li><a href="/produtos">                   Productos</a></li>
            <li><a href="/rodados">                    Rodados</a></li>
            <li><a href="/proveedores/index_inicio">   Saldo Inicial Proveedores</a></li>
            <li><a href="/clientes/index_inicio">      Saldo Inicial Clientes</a></li>
            <li><a href="/clases">                     Sector</a></li>
            <li><a href="/servicos">                   Servicios</a></li>
            <li><a href="/safras">                     Zafra</a></li>
         </ul>
      </li>

      <li><a href="#">Processos</a>
         <ul>
            <li><a href="/controle_visita">     Controle Visitas</a></li>
            <li><a href="/controle_pulvs">     Controle Pulv</a></li>
         </ul>
      </li>


      <li><a href="#">Facturamento</a>
         <ul>
            <li><a href="/compras">                     Compras</a></li>
            <li><a href="/consumicao_internas">         Consumici贸n Interna</a></li>                        
            <li><a href="/vendas/faturas_pendentes">    Facturas Pendientes</a></li>
            <li><a href="/manutencao_maquinas">         Manutencion de Equipos</a></li>
            <li><a href="/nota_creditos">               Nota de Credito</a></li>
            <li><a href="/nota_credito_proveedors">     Nota de Credito Prov.</a></li>
            <li><a href="/nota_remicaos">               Nota de Remicion</a></li>            
            <li><a href="/pedido_compras">              Pedido de Compra</a></li>
            <li><a href="/presupuestos">                Pedido de Venta</a></li>
            <li><a href="/recepcao_nota_remicaos">      Recepcion Nota de Remision</a></li>            
            <li><a href="/vendas">                      Ventas</a></li>
            <li><a href="/vendas_entrada_produtos">     Vuelto de Mercaderia</a></li>
         </ul>
      </li>


      <% if current_user.tipo == 0 or current_user.tipo == 1  %>
      <li><a href="#">Financiero</a>
         <ul>
            <li><a href="/adelantos">                   Adelantos</a></li>
            <li><a href="/fechamento_caixas">           Cierre de Caja</a></li>
            <li><a href="/cobros">                      Cobros</a></li>
            <li><a href="/egressos">                    Egresos</a></li>
            <li><a href="/compras/index_gasto">         Gastos</a></li>
            <li><a href="/ingressos">                   Ingresos</a></li>            
            <li><a href="/pagares">                     Pagares</a></li>
            <li><a href="/pagos">                       Pagos</a></li>            
            <li><a href="/sueldos">                     Sueldos y Jornales</a></li>
            <li><a href="/transferencia_contas">        Transferencias Entre Cuentas</a></li>            
         </ul>
      </li>
      <% end %>

      <li><a href="#">Stock</a>
         <ul>
            <li><a href="/produtos/consulta_stock">     Consulta Stock</a></li>
            <li><a href="/stocks/stock_inicial">        Stock Inicial</a></li>
            <li><a href="/transferencia_depositos">     tranf. Deposito</a></li>
         </ul>
      </li>


      <li><a href="#">Produci贸n</a>
         <ul>
            <li><a href="/producaos">                   Produci贸n</a></li>
         </ul>
      </li>

      <li><a href="#">Laboratorio</a>
         <ul>
            <li><a href="/laboratorio/elementos">                    Elementos</a></li>
            <li><a href="/laboratorio/analizes">                     Analize</a></li>
            <li><a href="/localizacaos">                             Ubicaci贸n</a></li>
         </ul>
      </li>


      <li><a href="#">Relatorios</a>
         <ul>
            <li><a href="/relatorios/adelantos">                  Adelantos</a></li>
            <li><a href="/relatorios/fechamento_caixa">           Cierre de Caja</a></li>
            <li><a href="/relatorios/cheque_diferido">            Cheques Diferidos</a></li>            
            <li><a href="/relatorios/compras">                    Compras</a></li>
            <li><a href="/relatorios/consumicao_interna">         Consumicion Interna</a></li>
            <li><a href="/relatorios/cobros">                     Cobros</a></li>               
            <li><a href="/relatorios/comissoes">                  Comisiones</a></li>
            <li><a href="/financas/extrato_bancario">             Extracto Bancario</a></li>
            <li><a href="/financas">                              Extracto Caja</a></li>
            <li><a href="/stocks">                                Ficha de Stock</a></li>
            <li><a href="/relatorios/fluxo_caixa">                Fluxo de Caja</a></li>   
            <li><a href="/relatorios/controle_func">              Fluxo de Empleados</a></li>               
            <li><a href="/relatorios/gastos">                     Gastos</a></li>
            <li><a href="/relatorios/historico_precos">           Historico de Precios</a></li>
            <li><a href="/stocks/iventario">                      Iventario</a></li>
            <li><a href="/relatorios/metas">                      Metas</a></li>
            <li><a href="/relatorios/pedidos_vendas">             Pedido de Ventas</a></li>
            <li><a href="/proveedores">                           Pagar</a></li>
            <li><a href="/relatorios/pagos">                      Pagos</a></li>               
            <li><a href="/relatorios/pedidos_vendas">             Pedido de Ventas</a></li>
            <li><a href="/clientes">                              Receber</a></li>
            <li><a href="/relatorios/remicao">                    Remiciones</a></li>
            <li><a href="/stocks/rentabilidade">                  Rentabilidad</a></li>
            <li><a href="/relatorios/resumo_mes">                 Resume del Mes</a></li>               
            <li><a href="/relatorios/tabela_preco">               Tabla de Precios</a></li>
            <li><a href="/relatorios/vendas">                     Ventas</a></li>
            <li><a href="/relatorios/controle_visitas">           Controle Visitas</a></li>
            <li><a href="/stocks/projecao_compras">           Proyeccion de Compras</a></li>
         </ul>
      </li>
      <% if current_user.tipo == 0 or current_user.tipo == 1  %>
         <li><a href="#">Contabilidad</a>
            <ul>
               <li><a href="/diarios">                                 Asientos Contables</a></li>
               <li><a href="/contabilidades/generar_acientos_contables">   Generar Asientos Contables</a></li>
               <hr/>
               <li><a href="/plano_de_contas">                             Plan de Cuentas</a></li>
               <li><a href="/rubros">                                      Rubros Contables</a></li>
               <hr/>
               <li><a href="/contabilidades/balance">                  Balance de Suma y Saldos</a></li>
               <li><a href="/contabilidades/balance_general">          Balance General</a></li>
               <li><a href="/faturas">                                 Facturas Ventas</a></li>
               <li><a href="/compras_documentos">                      Facturas Compras/Gastos</a></li>
               <li><a href="/contabilidades/livro_compra">             Libro Compra</a></li>
               <li><a href="/contabilidades/livro_diario">             Libro Diario</a></li>
               <li><a href="/contabilidades/livro_mayor">              Libro Mayor</a></li>
               <li><a href="/contabilidades/livro_mayor_produtos">     Libro Mayor Por Producto</a>
               <li><a href="/contabilidades/livro_venda">              Libro Venda</a></li>               
               <li><a href="/contabilidades/resumo_compra">            Resumen Compra</a></li>
               <li><a href="/contabilidades/resumo_vendas">            Resumen Venta</a></li>

            </ul>
         </li>
      <% end %>

      <% if current_user.tipo == 0 or current_user.tipo == 1  %>
         <li><a href="#">Sistema</a>
            <ul>
               <li><a href="/unidades">                     Unidades</a></li>
               <li><a href="/usuarios">                     Usuarios</a></li>
               <li><a href="/suporte/comando">              Comando Soporte</a></li>
               <li><a href="/empresas">                     Config. Empresa</a></li>
            </ul>
         </li>
      <% end %>
   </ul>
</div>
